<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
  <div class="top-section">

        <a href="/login" class="button badge badge-pill">Login</a>
        <a href="/register" class="button badge badge-pill">Register</a>
        <button class="button badge badge-pill">Let's Jump To</button>
  </div>


  <div id="main-index">
    <% recipes.forEach(recipe => { %>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="single-content">
              <a href="/recipe/<%= recipe._id %>"><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>" class="pic"></a>
              <div class="text-content">
              <h3 class=""><%= recipe.recipeName %></h3>
              <p class=""><%= recipe.servesPeople %> servings</p>
              <p class=""><%= recipe.numMinutes %> min</p>
              <p class=""><%= recipe.skillLevel %> </p>
            </div>
          </div>
        </div>
      </div>
    </div>

        
        <!-- <a href="#" id="save" class="btn btn-primary button badge badge-pill">save</a> -->




          <!-- <button class="saver"></button> -->




    <% }); %>
  </div>

            





      <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>