<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
  <div class="top-section">
    <h1>Index</h1>
    <p> All recipe cards go in this page </p>

    <!-- for now some login and logout buttons here -->
        <a href="/login" class="button badge badge-pill">Login</a>
        <a href="/register" class="button badge badge-pill">Register</a><br/><br/><br/>
  
        ALL CREATED RECIPES SHOW HERE<br/><br/>
  </div>

<!-- <div id="grid-one"> -->
  <div id="main-index">
    <% recipes.forEach(recipe => { %>
      
      <div class="container">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            
            <ul>
            <h3 class="card-title"><%= recipe.recipeName %></h3>
            <p class="card-text"><%= recipe.servesPeople %></p>
            <p class="card-text"><%= recipe.numMinutes %> minutes</p>
            <p class="card-text"><%= recipe.skillLevel %></p>
            <p class="card-text"><%= recipe.foodItems.foodName %></p>
            <p class="card-text">


              
            </p>
            <p class="card-text"></p>
            <a href="#" id="save" class="btn btn-primary button badge badge-pill">save</a>
            <div class="pic"><a href="/recipe/<%= recipe._id %>"><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>"></a></div>
            </ul> 
            <button>
            </button>
          </div>
        </div>
      </div>




<% }); %>
</div>
<!-- </div>ß
 --><h></h>
          <br/><br/>
      
      <br/><br/>

            <button class="button badge badge-pill">Let's Jump To</button>


<!-- 
      FOR USER MODEL USE:
      <p><a href="">/recipe/show.ejs</a> TO SHOW ONE RECIPE</p>
      


      FOR RECIPE MODEL USE:
      <p><a href="">/show.ejs</a> TO SHOW ONE RECIPE</p> -->



      <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>