<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <h1>Index</h1>
    <!-- for now some login and logout buttons here -->
    <% if(user) { %>
        <p>Welcome, <%= user.username %></p>
        <form action="/logout?_method=DELETE" method="POST">
            <input class="btn btn-primary btn-sm"type="submit" value="Logout">
        </form>
    <% } else { %> 
        <a class="btn btn-primary btn-sm" href="/login">Login</a>
        <a class="btn btn-primary btn-sm" href="/register">Register</a>
    <% } %>
    <br/>
    ALL CREATED RECIPES SHOW HERE
    <hr>
        <div>
            <% recipes.forEach(recipe => { %>
                <p><a href="/recipe/<%= recipe._id %>"><%= recipe.recipeName %></a></p>
            <% }); %>
        </div>
    <br/><br/>
      <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>