<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <% if(user) { %>
      <div class="top">
        <p class="greet-user pull-right">welcome, <%= user.username %></p>
      </div>
      <div class="top">  
        <form action="/logout?_method=DELETE" method="POST">
            <input id="logout-btn" class="btn-2 badge-pill login pull-right" type="submit" value="Logout">
        </form>
      
        <% } else { %> 
            <a id="login-btn" class="btn-2 badge-pill login pull-right" href="/login">Login</a>
            <a id="reg-btn pull-right" class="btn-2 badge-pill login" href="/register">Register</a>
        <% } %>
      </div>

    <!-- <hr> -->


    <div id="main-index" class="centered">
      <div class="container cards">
        <!-- <div class="row"> -->
          <% recipes.forEach(recipe => { %>
          <div class="col-md-4 col-sm-6">
              <div class="single-content card pic">
                <a href="/recipe/<%= recipe._id %>"><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>" class="cardImg"></a>
                <div class="text-content">
                  <h3 class=""><%= recipe.recipeName %></h3>
                  <p class=""><%= recipe.servesPeople %> servings</p>
                  <p class=""><%= recipe.cookTime %> min</p>
                  <p class=""><%= recipe.skillLevel %> </p>
              </div>
            </div>
          </div>
          <% }); %>
        <!-- </div> -->
      </div>
    </div>



    <!-- MODAL WINDOW IS HIDDEN ALWAYS AND USES BUTTION PUSH IN NAV TO MAKE VISIBLE THROUGH CSS, SO TEH BUTTON IN NAV JUST TOGGLES IT ON AND OFF -->
    <!-- for now some login and logout buttons here -->
  

    <!--   login modal here -->
    <div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
                <input id="login" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" ><br>
                <input id="register" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </div>

    <!--   register modal here -->
    <div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required ><br>
              
              <input type="email" class="form-control" placeholder="@email" aria-label="email" aria-describedby="basic-addon1" required ><br>
              
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
    </div>


    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>