<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <h1>noshome</h1>
    <!-- for now some login and logout buttons here -->
    <% if(user) { %>
        <p>Welcome, <%= user.username %></p>
        <form action="/logout?_method=DELETE" method="POST">
            <input class="btn btn-primary btn-sm"type="submit" value="Logout">
        </form>
    <% } else { %> 
        <a class="btn btn-primary btn-sm" href="/login">Login</a>
        <a class="btn btn-primary btn-sm" href="/register">Register</a>
    <% } %>
    <br/>
    <hr>

    <div id="main-index">
      <div class="container">
        <div class="row">
          <% recipes.forEach(recipe => { %>
          <div class="col-md-4 col-sm-6">
              <div class="single-content">
                <a href="/recipe/<%= recipe._id %>"><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>" class="pic"></a>
                <div class="text-content">
                  <h3 class=""><%= recipe.recipeName %></h3>
                  <p class=""><%= recipe.servesPeople %> servings</p>
                  <p class=""><%= recipe.numMinutes %> min</p>
                  <p class=""><%= recipe.skillLevel %> </p>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
          <!-- <a href="#" id="save" class="btn btn-primary button badge badge-pill">save</a> -->
            <!-- <button class="saver"></button> -->
  

    </div>





        <div>
            <% recipes.forEach(recipe => { %>
                <p><a href="/recipe/<%= recipe._id %>"><%= recipe.recipeName %></a></p>
            <% }); %>
        </div>
    <br/><br/>

    <!-- MODAL WINDOW IS HIDDEN ALWAYS AND USES BUTTION PUSH IN NAV TO MAKE VISIBLE THROUGH CSS, SO TEH BUTTON IN NAV JUST TOGGLES IT ON AND OFF -->
    <!-- button here for now -->
    <!-- Button trigger modal -->

    <!--  modal here -->
    <div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"><br>
                <input type="text" class="form-control" placeholder="Username" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Register</button>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>