<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
  <div class="top-section">
    <!-- <h1>Index</h1> -->
    <!-- <p> All recipe cards go in this page </p> -->

    <!-- for now some login and logout buttons here -->
        <a href="/login" class="button badge badge-pill">Login</a>
        <a href="/register" class="button badge badge-pill">Register</a>
        <button class="button badge badge-pill">Let's Jump To</button>
  </div>

<!-- <div id="grid-one"> -->
  <div id="main-index">
    <% recipes.forEach(recipe => { %>
      
      <div class="container">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            
            <ul>
            <h3 class="card-title"><%= recipe.recipeName %></h3>
            <li class="card-text"><%= recipe.servesPeople %></li>
            <li class="card-text"><%= recipe.numMinutes %> minutes</li>
            <li class="card-text"><%= recipe.skillLevel %></li>

            <a href="#" id="save" class="btn btn-primary button badge badge-pill">save</a>
            <div class="pic"><a href="/recipe/<%= recipe._id %>"><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>"></a></div>
          </ul>

          <button class="save"></button>
          </div>
        </div>
      </div>




<% }); %>
</div>

            





      <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>