<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h1>Edit username (evntually pantry items)</h1>
    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        <input type="text" name="username" value="<%= user.username %>" />
    </form>
    <hr>
    <section class="new__foodItem">
        <form action="/users/<%= user._id %>?_method=PUT" method="POST">
          <input type="text" name="foodItem" placeholder="New Food Item" />
          <input type="text" name="quantity" placeholder="Quantity, - (number)" />
          <input type="text" name="unit" placeholder="Unit - (lbs, cups, etc)" />
          <input id="button" type="submit" value="New Food Item"/>
        </form>
    </section>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html> -->