<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h3>Welcome back,&nbsp<%= user.username %> </h3>
    <form action="/users/<%= user._id %>/edit">
        <input class="btn btn-primary btn-sm" type="submit" value="Edit User"> &nbsp  &nbsp email: <%= user.email %>
    </form>
    <hr>
    nosh: <%= user.nosh %><br>
    <hr>
    pantry: <%= user.pantry %><br>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>