<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h3>Welcome back,&nbsp<%= user.username %> </h3>
    <form action="/users/<%= user._id %>/edit">
        <input class="btn btn-primary btn-sm" type="submit" value="Edit User"> &nbsp  &nbsp email: <%= user.email %>
    </form>
    <hr>
    <!-- <div class="list-group">
        <span><h5>Recipes you have saved to nosh:</h5></span>
        <% user.nosh.forEach(item => { %>
            <a href="/recipe/<%= item._id %>" class="list-group-item list-group-item-action">
                <%= item.recipeName %>: &nbsp&nbsp skill level:<%= item.skillLevel %> 
            </a>


        <% }) %>
        <% if(user.nosh.length === 0) { %>
            <p>There are no items to nosh yet</p>
        <% } %>
    </div> -->

    
        <main>
            <div class="mobile">
                <div class="cards">       
        
        <% user.nosh.forEach(item => { %>
            <div class="cards__card"><div class="cards__card__content"></div><a href="/recipe/<%= item._id %>" class="list-group-item list-group-item-action">
                <%= item.recipeName %>: &nbsp&nbsp skill level:<%= item.skillLevel %> 
            </a></div></div>

            
        <% }) %>
        <% if(user.nosh.length === 0) { %>
            <p>There are no items to nosh yet</p>
        <% } %>
            </div>
        </div>
        </main>
    





    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>