<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
  <div class="top">
    <h3 class="greet-user pull-right w-back">welcome back,&nbsp<%= user.username %> <i class="fas fa-address-card"></i></h3>
  
    <form action="/users/<%= user._id %>/edit">
        <input class="btn-2 badge-pill login pull-right" type="submit" value="Edit User"> &nbsp  &nbsp email: <%= user.email %>
    </form>
  </div>
    <hr>
    <div id="main-index">
        <div class="container">
          <div class="row">
            <% user.nosh.forEach(recipe => { %>
            <div class="col-md-4 col-sm-6">
                <div class="single-content">
                  <a href="/recipe/<%= recipe._id %>"><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>" class="cardImg"></a>
                  <div class="text-content">
                    <h3 class=""><%= recipe.recipeName %></h3>
                    <p class=""><%= recipe.servesPeople %> servings</p>
                    <p class=""><%= recipe.cookTime %> min</p>
                    <p class=""><%= recipe.skillLevel %> </p>
                </div>
              </div>
           </div>
            <% }); %>
          </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>