<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h3>Welcome back,&nbsp<%= user.username %> </h3>
    <!-- <div class="btn-group-vertical">
        <a class="btn btn-primary btn-sm" href="/users/<%= user._id %>/edit" role="button">Edit Username</a>
    </div> -->
    <section>
        <!-- <ul class="nosh">
            <li>Nosh: <%= user.nosh%></li>
        </ul> -->
        <hr>
        <section class="new__foodItem">
            <form action="/users/<%= user._id %>?_method=PUT" method="POST">
              <input type="text" name="foodItem" placeholder="New Food Item" />
              <input type="text" name="quantity" placeholder="Quantity, - (number)" />
              <input type="text" name="unit" placeholder="Unit - (lbs, cups, etc)" />
              <input class="btn btn-primary btn-sm" id="button" type="submit" value="New Pantry Item"/>
            </form>
        </section>
        <hr>
        <div class="list-group">
            <%= user.pantry %>
            <% user.pantry.forEach(pantry => { %>
                <a href="/foodItem/<%= pantry._id %>" class="list-group-item list-group-item-action">
                    <%= pantry.foodItem %>: &nbsp&nbsp <%= pantry.quantity %> <%= pantry.unit %>
                </a>
            <% }) %>
            <% if(user.pantry.length === 0) { %>
                <p>There are no pantry items yet</p>
            <% } %>
          </div>
    </section>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>