<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h3>Welcome back,&nbsp<%= user.username %> </h3>
    <section>
        <!-- <ul class="nosh">
            <li>Nosh: <%= user.nosh%></li>
        </ul> -->
        <hr>
        <section class="new__foodItem">
            <form action="/users/<%= user._id %>?_method=PUT" method="POST">
              <input type="text" name="foodItem" placeholder="New Food Item" />
              <input type="text" name="quantity" placeholder="Quantity, - (number)" />
              <input type="text" name="unit" placeholder="Unit - (lbs, cups, etc)" />
              <input id="button" type="submit" value="New Pantry Item"/>
            </form>
        </section>
        <hr>
        <ul class="pantry"></ul>
            <% user.pantry.forEach(pantry => { %>
                <li>
                  <a> <%= pantry.foodItem %> &nbsp <%= pantry.quantity %> &nbsp <%= pantry.unit %> </a>
                </li>
                <% }) %>
              <% if(user.pantry.length === 0) { %>
              <p>There are no pantry items yet, edit user to update.</p>
              <% } %>
        </ul>
    </section>
    <hr>
    <div class="btn-group-vertical">
        <a 
        class="btn btn-primary btn-sm" 
        href="/users/<%= user._id %>/edit" 
        role="button">Edit Username</a>
    </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>