<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <div class="top"><h1 class="badge-pill login pull-right create">create nosh recipe</h1></div>
<div class="main-create-index">
    <div class="left-form ">
        <section >
            <form action="/recipe/new" method="POST">
                <h4 class="build">Recipe: <br/><input type="text" name="recipeName" placeholder="Recipe Name *"/></h4>
                <h4 class="build">Servings: <br/><input type="text" name="servesPeople" placeholder="Serving Size *"/></h4>
                <h4 class="build">Cook Time: (minutes) <br/><input type="text" name="cookTime.cookTime" placeholder="0 *"/> </h4>
                <h4 class="build">Photo: <br/><input type="url" name="imageSource" placeholder="Image Link"/></h4>
                <h4 class="build">Skill Level:<br/><input type="text" name="skillLevel" placeholder="Skill Level"/></h4>
                <h4 class="build">Recipe Instructions:</h4>
                    <h4 class="build"><textarea type="text" name="narrativeDescription" placeholder="Recipe Instructions" ></textarea></h4>

                <input type="submit" value="Frame Recipe" id="frame-rec" class="btn-small button badge-pill build"/>
            </form>
        </section>

        
        <% if(recipe) { %>
            <section class="food_item build">
                <form action="/recipe/<%= recipe._id %>/foodItem?_method=PUT" method="POST">
                    <input type="text" name="foodItem" placeholder="New Food Item"/>
                    <input type="text" name="quantity" placeholder="Quantity, - (number)"/>
                    <input type="text" name="unit" placeholder="Unit - (lbs, cups, etc)"/>
                    <input type="text" name="calories" placeholder="Calories"/>
                            
                    <input id="button" type="submit" value="New Food Item" class="btn-small button badge-pill build"/>
                    
                    
                    
    </div>

                        <br/>
        <div class="middle-form">
            <div><span></span>
                <div id="rec-frame" class="single-content ">
                    <h3><%= recipe.recipeName %></h3>
                    <h5><span>Servings: </span><%= recipe.servesPeople %></h5>
                    <h5><%= recipe.cookTime %> <span>minutes</span></h5> 
                    <h5><span>Skill Level: </span><%= recipe.skillLevel %></h5>
                    <div class="parent-hidden-scroll"><p id="instr-new"><span>Instructions:</span></h5><p><%= recipe.narrativeDescription %></p></div>

                </div>



                <div id="rec-foods" class="single-content">
                    <div class="list-group">
                        <% recipe.foodItems.forEach(item => { %>
                            <a href="#" class="list-group-item list-group-item-action">
                                <%= item.foodName %>: &nbsp&nbsp <%= item.quantity %> <%= item.unit %>
                            </a>
                            <% }) %>
                            <% if(recipe.foodItems.length === 0) { %>
                                <p>There are no food items yet</p>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
            <div id="rec-pic" class="single-content">
                <img class="new-pic" src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>">
                <button id="view-new-recipe" class="btn-small button badge-pill build"><a href="/recipe/<%= recipe._id %>">view new recipe</a></button>
            </div>
            
                    </form>	
                </section>
            <% } %>	
        </div> 
    </div>
</body>




<%- include('../partials/footer') %>
</html>
<br/><br/><br/>
<styles>
    img {
        width: 200px;
        height: 100px; 
    }

    h5 {
        margin-bottom: 3px;
    }

    .main-index{
        display: flex;
        justify-content: flex-start;
        flex-flow: row nowrap;
        align-items: flex-start;
        align-content: flex-start;
        height: 20vh;
    }

    #rec-frame {
        order: 1;
    }

    #rec-pic {
        order: 2;
    }

    #rec-foods {
        order: 3;
    }

</styles>