<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h1>Create nosh Recipe</h1>
    <hr>
    <section>
        <form action="/recipe/new" method="POST">
            <p>Recipe: <input type="text" name="recipeName" placeholder="Recipe Name *"/></p>
            <p>Servings: <input type="text" name="servesPeople" placeholder="Serving Size *"/></p>
            <p>Cook Time: <input type="text" name="cookTime.cookTime" placeholder="0 *"/> minutes
            </p>
            <p>Photo: <input type="url" name="imageSource" placeholder="Image Link"/></p>
            <p>Skill Level:<input type="text" name="skillLevel" placeholder="Skill Level"/></p>
            <p>Recipe Instructions: 
                <textarea type="text" name="narrativeDescription" placeholder="Recipe Instructions"></textarea></p>

            <br><br>
            <input type="submit" value="Frame Recipe"/>
        </form>
    </section><br/><br/><br/>

    <div class="main-index">
        <% if(recipe) { %>
            <%= recipe.recipeName %>
            <section class="food_item">
                <form action="/recipe/<%= recipe._id %>/foodItem?_method=PUT" method="POST">
                    <input type="text" name="foodItem" placeholder="New Food Item" />
                    <input type="text" name="quantity" placeholder="Quantity, - (number)" />
                    <input type="text" name="unit" placeholder="Unit - (lbs, cups, etc)" />
                    <input type="text" name="calories" placeholder="Calories" />
                
                        
                    <input id="button" type="submit" value="New Food Item"/>
                    
                    <br/><br/>
                    <button class="btn-small button badge badge-pill"><a href="/recipe/<%= recipe._id %>">view new recipe</a></button>


                    <br/><br/>
                    <hr>
                    <div>
                        <div id="rec-frame" class="single-content">
                            <h3><%= recipe.recipeName %></h3><br/>
                            <h5>Servings: <%= recipe.servesPeople %></h5>
                            <h5><%= recipe.cookTime %> minutes</h5> 
                            <h5>Skill Level: <%= recipe.skillLevel %></h5>
                            <h5>Instructions:</h5><p><%= recipe.narrativeDescription %></p>
                        </div>

                        <div id="rec-pic" class="single-content"><img class="new-pic" src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>">
                        </div>

                        <div id="rec-foods" class="single-content">
                            <div class="list-group">
                                <% recipe.foodItems.forEach(item => { %>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <%= item.foodName %>: &nbsp&nbsp <%= item.quantity %> <%= item.unit %> &nbsp&nbsp <%= item.calories %>
                                    </a>
                                    <% }) %>
                                    <% if(recipe.foodItems.length === 0) { %>
                                        <p>There are no food items yet</p>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </form>	
            </section>
        <% } %>	
    </div> 

    <hr>
</body>




<%- include('../partials/footer') %>
</html>
<br/><br/><br/>
<styles>
    img {
        width: 200px;
        height: 100px; 
    }

    h5 {
        margin-bottom: 3px;
    }

    .main-index{
        display: flex;
        justify-content: flex-start;
        flex-flow: row nowrap;
        align-items: flex-start;
        align-content: flex-start;
        height: 20vh;
    }

    #rec-frame {
        order: 1;
    }

    #rec-pic {
        order: 2;
    }

    #rec-foods {
        order: 3;
    }

</styles>