<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h1><%= recipe.recipeName %></h1>
    <a href="/recipe/new">create a new recipe</a>&nbsp&nbsp&nbsp

    <!-- Nosh button for adding to your user account, all displayed in user.index -->
    <% if(!user.nosh.includes(recipe.id)) { %>
        <form action="/users/<%= recipe._id %>/nosh?_method=PUT" method="POST">
            <input class="btn btn-primary btn-sm" type="submit" value="Save" />
        </form>
    <% } else { %> 
        <form action="/users/<%= recipe._id %>/noshout?_method=PUT" method="POST">
            <input class="btn btn-danger btn-sm" type="submit" value="Un-save!" />
        </form>
    <% } %>

    <hr>
    <section class="cards">
            <div class="card">
                <div><img src="<%= recipe.imageSource %>" class="card-img-top" alt="<%= recipe.recipeName %>"></div>
                <div class="card-body">
                    <p class="card-title">Recipe: <a href="#"><%= recipe.recipeName %></a></p>
                    <p class="card-text">Servings: <%= recipe.servesPeople %></p> 
                    <p class="card-text">Cook Time:   <%= recipe.cookTime %>  minutes</p>
                    <p class="card-text">Recipe Instructions: <%= recipe.narrativeDescription %></p>
                </div>
                <a href="/recipe/<%= recipe._id %>/edit">edit this recipe</a>&nbsp&nbsp&nbsp
            </div>



                <a href="/recipe/new">create a new recipe</a>&nbsp&nbsp&nbsp
                
                <a href="/recipe">back to my recipes</a>&nbsp&nbsp&nbsp
                
                <form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
                    <input class="btn btn-primary btn-sm" id="button" type="submit" value="delete" />
                </form>
        <!--<a href="/recipes/:id">Transfer Owner</a> -->&nbsp&nbsp&nbsp

    </section>

--------------
<section>
    <h2>Edit Your Recipe <%= recipe.recipeName %> </h2>

    <form action="/recipe/<%= recipe._id %>?_method=PUT" method="POST">
    
    <p>Recipe: <input type="text" name="recipeName" value="<%= recipe.recipeName %>"/></p>
    
    <p>Servings: <input type="text" name="servesPeople" value="<%= recipe.servesPeople %>"/></p>
      
    <p>Cook Time: <input type="text" name="cookTime" value="<%= recipe.cookTime %>"> minutes</p>
    
    <p>Photo: <input type="url" name="imageSource" value="<%= recipe.imageSource %>"/></p>
    
    <p>Skill Level:<input type="text" name="skillLevel" value="<%= recipe.skillLevel %>"/></p>
    
    <p>Recipe Instructions: <textarea type="text" name="narrativeDescription" value="<%= recipe.narrativeDescription %>"><%= recipe.narrativeDescription %></textarea></p>

      <input class="btn btn-primary btn-sm" id="button" type="submit" value="Update Recipe" />
      </form>

 







    


    </section>


        <br><br>
      </form>
  </section>








</body>
<%- include('../partials/footer') %>
</html>