<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    
</head>
<body>
    <h1><%= recipe.recipeName %></h1>

    <div>
    <!-- Nosh button for adding to your user account, all displayed in user.index -->
        <% if(!user.nosh.includes(recipe.id)) { %>
            <form action="/users/<%= recipe._id %>/nosh?_method=PUT" method="POST">
                <input class="btn-small button badge-pill" type="submit" value="Save" />
            </form>
        <% } else { %> 
            <form action="/users/<%= recipe._id %>/noshout?_method=PUT" method="POST">
                <input class="btn-small button  badge-pill" type="submit" value="Un-save!" />
            </form>
        <% } %>
        <button class="btn-small button badge-pill"><a href="/recipe/<%= recipe._id %>/edit">Edit <%= recipe.recipeName %></a>&nbsp&nbsp&nbsp</button>
    </div>
    
    <hr>

    <div id="main-index m-show">
        <div class="container c-show">
            <div class="s-c-show">
                <div class="t-show">
                    <h3 class="build"><%= recipe.recipeName %></h3>
                    <p class="build"><%= recipe.servesPeople %> servings</p>
                    <p class="build"><%= recipe.cookTime %> min</p>
                    <p class="build"><%= recipe.skillLevel %> </p>
                    <p id="instr-new"><span>Instructions:</span></h5><p><%= recipe.narrativeDescription %></p>
                </div>
                <div class="t-show">
                    <a href="/recipe/<%= recipe._id %>"><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>" class="i-show build"></a>
                </div>
            </div>
          </div>
        </div>





























</body>
<%- include('../partials/footer') %>
</html>







<styles>

    <!-- .main-index {
        height: 40vh;
    } -->

    .container {
        height: 40vh;
    }

    .single-content {
        margin-bottom: 5px;
    }


</styles>

<!-- <div id="main-index">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="single-content"> -->