<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <!-- <p>FOR USER MODEL USE: 
        <a href="">/recipe/:id</a> TO SHOW ONE RECIPE</p>
    <p>FOR RECIPE MODEL USE: 
        <a href="">/:id</a> TO SHOW ONE RECIPE</p> -->

    <h1><%= recipe.recipeName %></h1>
    <br/><br/>

    <section>
            <div>
                <p>Recipe: <a href="#"><%= recipe.recipeName %></a></p>
                <p>Servings: <%= recipe.servesPeople %></p> 
                <p>Cook Time:   <%= recipe.cookTime %>  minutes</p>
                <p><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>"></p>
                <p>Recipe Instructions: <%= recipe.narrativeDescription %></p>

        <a href="/recipe/<%= recipe._id %>/edit">edit this recipe</a>&nbsp&nbsp&nbsp

        <a href="/recipe/new">create a new recipe</a>&nbsp&nbsp&nbsp
        
        <a href="/recipe">back to my recipes</a>&nbsp&nbsp&nbsp
        
        <form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
            <input type="submit" value="delete" />
        </form>
        </div>
        <!--<a href="/recipes/:id">Transfer Owner</a> -->&nbsp&nbsp&nbsp

    </section>
</body>
<%- include('../partials/footer') %>
</html>