<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <!-- <p>FOR USER MODEL USE: 
        <a href="">/recipe/:id</a> TO SHOW ONE RECIPE</p>
    <p>FOR RECIPE MODEL USE: 
        <a href="">/:id</a> TO SHOW ONE RECIPE</p> -->

    <h1><%= recipe.recipeName %></h1>
    <% if(!user.nosh.includes(recipe.id)) { %>
        <form action="/users/<%= recipe._id %>/nosh?_method=PUT" method="POST">
            <input class="btn btn-primary btn-sm" type="submit" value="Nosh it!" />
        </form>
    <% } else { %> 
        <form action="/users/<%= recipe._id %>/noshout?_method=PUT" method="POST">
            <input class="btn btn-primary btn-sm" type="submit" value="De - Nosh It!" />
        </form>
    <% } %>

    <%= user.username  %> <%= user.nosh  %>
    
    <hr>
    <section>
            <div>
                <p>Recipe: <a href="#"><%= recipe.recipeName %></a></p>
                <p>Servings: <%= recipe.servesPeople %></p> 
                <p>Cook Time:   <%= recipe.cookTime %>  minutes</p>
                <p><img src="<%= recipe.imageSource %>" alt="<%= recipe.recipeName %>"></p>
                <p>Recipe Instructions: <%= recipe.narrativeDescription %></p>

        <a href="/recipe/<%= recipe._id %>/edit">edit this recipe</a>&nbsp&nbsp&nbsp

        <a href="/recipe/new">create a new recipe</a>&nbsp&nbsp&nbsp
        
        <a href="/recipe">back to my recipes</a>&nbsp&nbsp&nbsp
        
        <form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
            <input class="btn btn-primary btn-sm" id="button" type="submit" value="delete" />
        </form>
        </div>
        <!--<a href="/recipes/:id">Transfer Owner</a> -->&nbsp&nbsp&nbsp

    </section>

--------------
<section>
    <h2>Edit Your Recipe <%= recipe.recipeName %> </h2>

    <form action="/recipe/<%= recipe._id %>?_method=PUT" method="POST">
    
    <p>Recipe: <input type="text" name="recipeName" value="<%= recipe.recipeName %>"/></p>
    
    <p>Servings: <input type="text" name="servesPeople" value="<%= recipe.servesPeople %>"/></p>
      
    <p>Cook Time: <input type="text" name="cookTime" value="<%= recipe.cookTime %>"> minutes</p>
    
    <p>Photo: <input type="url" name="imageSource" value="<%= recipe.imageSource %>"/></p>
    
    <p>Skill Level:<input type="text" name="skillLevel" value="<%= recipe.skillLevel %>"/></p>
    
    <p>Recipe Instructions: <textarea type="text" name="narrativeDescription" value="<%= recipe.narrativeDescription %>"><%= recipe.narrativeDescription %></textarea></p>

      <input class="btn btn-primary btn-sm" id="button" type="submit" value="Update Recipe" />
      </form>

    </section>



        <br><br>
      </form>
  </section>








</body>
<%- include('../partials/footer') %>
</html>